# **DATA CLEANING**

## **Introduction**
This project analyzes **Online Retail Transactions** using the dataset from the [UCI Machine Learning Repository](https://archive.ics.uci.edu/dataset/352/online+retail). The dataset contains all transactions between **December 1, 2010**, and **December 9, 2011**, recorded for a UK-based non-store online retailer that primarily sells unique all-occasion gifts. The company serves both individual customers and wholesalers.

## **Dataset Overview**
This dataset consists of **8 key variables** that capture **order details, product attributes, customer information, and sales data**.

| **Variable**    | **Role**      | **Type**        | **Description** | **Missing Values** |
|----------------|--------------|----------------|----------------|---------------------|
| **InvoiceNo**  | ID           | Categorical    | Unique transaction ID (6-digit). If it starts with 'C', it indicates a cancellation. | No |
| **StockCode**  | ID           | Categorical    | Unique 5-digit product code. | No |
| **Description** | Feature     | Categorical    | Product name. | No |
| **Quantity**   | Feature      | Integer        | Number of items purchased per transaction. | No |
| **InvoiceDate** | Feature     | Date           | Date and time when the transaction was recorded. | No |
| **UnitPrice**  | Feature      | Continuous     | Price per unit in sterling (£). | No |
| **CustomerID** | Feature      | Categorical    | Unique 5-digit customer identifier. | No |
| **Country**    | Feature      | Categorical    | Customer's country of residence. | No |

## **Data Preprocessing**

### **_1. Load & Inspect the Data_**

In [1]:
# Import Required Libraries
import pandas as pd

# Load the dataset
df = pd.read_csv("OnlineRetail.csv")

In [2]:
# View first few rows
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom

In [3]:
# View last few rows
df.tail()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,09-12-2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,09-12-2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,09-12-2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,09-12-2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,09-12-2011 12:50,4.95,12680.0,France

In [4]:
# Check Dataset Structure
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [5]:
# Generate descriptive statistics for numerical columns
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [6]:
# Count unique values for each column
unique_counts = df.nunique()

# Display unique counts
print(unique_counts)

InvoiceNo      25900
StockCode       4070
Description     4223
Quantity         722
InvoiceDate    23260
UnitPrice       1630
CustomerID      4372
Country           38
dtype: int64

### **_2. Handling Missing Values_**

In [7]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [8]:
# Remove Missing Customer IDs
df = df.dropna(subset=["CustomerID"])

### **_3. Handling Duplicates_**

In [9]:
print('The number of duplicate data records is: ', df.duplicated().sum())

The number of duplicate data records is:  5225

In [10]:
# Remove Duplicates
df = df.drop_duplicates()

### **_4. Standardize & Format Data_**

In [11]:
# Convert column names to snake_case
df.columns = df.columns.str.replace(r'([a-z])([A-Z])', r'\1_\2', regex=True).str.lower()

# Display updated column names
print(df.columns)

Index(['invoice_no', 'stock_code', 'description', 'quantity', 'invoice_date',
       'unit_price', 'customer_id', 'country'],
      dtype='object')

In [12]:
# Convert InvoiceDate to datetime format
df["invoice_date"] = pd.to_datetime(df["invoice_date"], format="%d-%m-%Y %H:%M", dayfirst=True)

# Extract date and time into separate columns
df["invoice_time"] = df["invoice_date"].dt.time  # Extract time
df["invoice_date"] = df["invoice_date"].dt.date  # Extract date

# Verify changes
print(df[["invoice_date", "invoice_time"]].head())

  invoice_date invoice_time
0   2010-12-01     08:26:00
1   2010-12-01     08:26:00
2   2010-12-01     08:26:00
3   2010-12-01     08:26:00
4   2010-12-01     08:26:00

In [13]:
# Converting Columns to Strings and Other Adjustments
df["description"] = df["description"].str.replace('.','').str.upper().str.strip()
df["description"] = df["description"].replace('\s+',' ',regex = True)
df["invoice_no"] = df["invoice_no"].astype(str).str.upper()
df["stock_code"] = df["stock_code"].astype(str).str.upper()
df["customer_id"] = df["customer_id"].astype(str).str.replace(".0", "")

### **_5. Checking Individual Columns_**

### _(i) Invoice No_

In [14]:
# Extract all unique prefixes in InvoiceNo
df["invoice_prefix"] = df["invoice_no"].astype(str).str[0]
print(df["invoice_prefix"].value_counts())

invoice_prefix
5    392732
C      8872
Name: count, dtype: int64

In [15]:
# Check If Canceled Orders in Invoice No. Have a Corresponding Purchase

# Extract canceled invoices (InvoiceNo starts with 'C') - Create a copy to avoid warnings
canceled_orders = df[df["invoice_no"].str.startswith("C")].copy()

# Remove 'C' from InvoiceNo to check for corresponding successful purchases
canceled_orders["invoice_no_clean"] = canceled_orders["invoice_no"].str[1:]

# Find matching purchases (same InvoiceNo without 'C')
matched_purchases = df[df["invoice_no"].isin(canceled_orders["invoice_no_clean"])]

# Display matched purchases
print("Matched Purchases:\n", matched_purchases)

Matched Purchases:
 Empty DataFrame
Columns: [invoice_no, stock_code, description, quantity, invoice_date, unit_price, customer_id, country, invoice_time, invoice_prefix]
Index: []

In [16]:
# Drop 'invoice_prefix' column
df.drop(columns=['invoice_prefix'], inplace=True)

# Removing Canceled Invoices
df = df[~df["invoice_no"].str.startswith("C")]

print("Canceled invoices removed.")

Canceled invoices removed.

### _(ii) Stock Code_

In [17]:
# Identify stock_code that are NOT exactly 5 digits
unique_stock_codes = df[~df["stock_code"].astype(str).str.match(r"^\d{5}$")]

# Display invalid stock_code
print(unique_stock_codes[["stock_code", "description"]].drop_duplicates())

       stock_code                          description
0          85123A   WHITE HANGING HEART T-LIGHT HOLDER
2          84406B       CREAM CUPID HEARTS COAT HANGER
3          84029G  KNITTED UNION FLAG HOT WATER BOTTLE
4          84029E        RED WOOLLY HOTTIE WHITE HEART
45           POST                              POSTAGE
...           ...                                  ...
527064     90214T            LETTER "T" BLING KEY RING
527065     90214U            LETTER "U" BLING KEY RING
527067     90214W            LETTER "W" BLING KEY RING
527069     90214Z            LETTER "Z" BLING KEY RING
537621     85123A   CREAM HANGING HEART T-LIGHT HOLDER

[901 rows x 2 columns]

Two types of observed anomalies in stock_code:

- Stock Codes that have a 5-digit number with extra letters (I'll ignore these as they are products).
- Stock Codes that do NOT contain any 5-digit number (I'll investigate these further).

In [18]:
# Find StockCodes that are NOT exactly 5 digits (avoid valid 5-digit numbers & 5-digit + letter)
invalid_stock_codes = df[~df["stock_code"].str.match(r"^\d{5}[A-Z]?$")]

# Show unique invalid StockCodes with descriptions
invalid_stock_codes_unique = invalid_stock_codes[["stock_code", "description"]].drop_duplicates()

# Display results in Jupyter Notebook
display(invalid_stock_codes_unique)

          stock_code                 description
45              POST                     POSTAGE
132          15056BL     EDWARDIAN PARASOL BLACK
1423              C2                    CARRIAGE
2239               M                      MANUAL
4406    BANK CHARGES                BANK CHARGES
157195          PADS  PADS TO MATCH ALL CUSHIONS
317507           DOT              DOTCOM POSTAGE

Here, 
- 15056BL: EDWARDIAN PARASOL BLACK is likely a valid product with color code.
- PADS: PADS TO MATCH ALL CUSHIONS appears to be a real product.

I will drop the following stock_codes:
- POST: POSTAGE this is not a product and likely shipping fees.
- C2: CARRIAGE, likely a shipping charge (not a product).
- M: Manual, could be an internal manual entry, not a product.
- BANK CHARGES: Bank Charges, financial charge, not a saleable item.
- DOT: DOTCOM POSTAGE, likely online transaction/shipping charge.

In [19]:
# List of irrelevant StockCodes to remove
irrelevant_stock_codes = ["POST", "C2", "M", "BANK CHARGES", "DOT"]

# Remove these from the dataset
df = df[~df["stock_code"].isin(irrelevant_stock_codes)]

### _(iii) Quantity_
Earlier, despritive statistics showed minimum value of quantity as negative, let's check if they still exists in the dataset.

In [20]:
# Count negative values
value_counts = {
    "Negative Quantity": (df["quantity"] < 0).sum(),
    "Zero Quantity": (df["quantity"] == 0).sum()
}

print(value_counts)

{'Negative Quantity': 0, 'Zero Quantity': 0}

### _(iv) Unit Price_

In [21]:
# Count negative and zero values
value_counts = {
    "Negative Unit Price": (df["unit_price"] < 0).sum(),
    "Zero Unit Price": (df["unit_price"] == 0).sum()
}

print(value_counts)

{'Negative Unit Price': 0, 'Zero Unit Price': 34}

In [22]:
df[df["unit_price"] == 0].head(5)

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country,invoice_time
9302,537197,22841,ROUND CAKE TIN VINTAGE GREEN,1,2010-12-05,0.0,12647,Germany,14:02:00
33576,539263,22580,ADVENT CALENDAR GINGHAM SACK,4,2010-12-16,0.0,16560,United Kingdom,14:36:00
40089,539722,22423,REGENCY CAKESTAND 3 TIER,10,2010-12-21,0.0,14911,EIRE,13:45:00
47068,540372,22090,PAPER BUNTING RETROSPOT,24,2011-01-06,0.0,13081,United Kingdom,16:41:00
47070,540372,22553,PLASTERS IN TIN SKULLS,24,2011-01-06,0.0,13081,United Kingdom,16:41:00

Since quantity is > 0 but unit price is 0, these could be:

- Promotional or free products (intended to be given away for free).
- Data entry errors (incorrectly recorded prices).
- Bundled products (items sold as part of a deal where unit price isn’t recorded).

In [23]:
df[df["unit_price"] == 0][["stock_code", "description"]].value_counts()

stock_code  description
21208       PASTEL COLOUR HONEYCOMB FAN            1
23234       BISCUIT TIN VINTAGE CHRISTMAS          1
22778       GLASS CLOCHE SMALL                     1
22841       ROUND CAKE TIN VINTAGE GREEN           1
22899       CHILDREN'S APRON DOLLY GIRL            1
22955       36 FOIL STAR CAKE CASES                1
22960       JAM MAKING SET WITH JARS               1
23157       SET OF 6 NATIVITY MAGNETS              1
23268       SET OF 2 CERAMIC CHRISTMAS REINDEER    1
21786       POLKADOT RAIN HAT                      1
23270       SET OF 2 CERAMIC PAINTED HEARTS        1
23407       SET OF 2 TRAYS HOME SWEET HOME         1
23480       MINI LIGHTS WOODLAND MUSHROOMS         1
47566       PARTY BUNTING                          1
84535B      FAIRY CAKES NOTEBOOK A6 SIZE           1
84826       ASSTD DESIGN 3D PAPER STICKERS         1
22636       CHILDS BREAKFAST SET CIRCUS PARADE     1
22625       RED KITCHEN SCALES                     1
22619       SET OF 6 SOLDIER SKITTLES              1
22580       ADVENT CALENDAR GINGHAM SACK           1
22553       PLASTERS IN TIN SKULLS                 1
22464       HANGING METAL HEART LANTERN            1
22437       SET OF 9 BLACK SKULL BALLOONS          1
22423       REGENCY CAKESTAND 3 TIER               1
22385       JUMBO BAG SPACEBOY DESIGN              1
22168       ORGANISER WOOD ANTIQUE WHITE           1
22167       OVAL WALL MIRROR DIAMANTE              1
22162       HEART GARLAND RUSTIC PADDED            1
22090       PAPER BUNTING RETROSPOT                1
22089       PAPER BUNTING VINTAGE PAISLEY          1
22065       CHRISTMAS PUDDING TRINKET POT          1
22062       CERAMIC BOWL WITH LOVE HEART DESIGN    1
22055       MINI CAKE STAND HANGING STRAWBERY      1
PADS        PADS TO MATCH ALL CUSHIONS             1
Name: count, dtype: int64

Since each stock_code with unit_price == 0 appears only once, this suggests that:
- These items aren't consistently free or promotional (they don’t show up multiple times as free).
- It’s likely a data entry error rather than a deliberate discount or bundled deal.

Let's drop rows where unit_price is 0.

In [24]:
df = df[df["unit_price"] > 0]

### _(v) Customer ID_
Making sure that all customer id's are 5 digit numbers.

In [25]:
df[~df["customer_id"].str.match(r"^\d{5}$")]

Empty DataFrame
Columns: [invoice_no, stock_code, description, quantity, invoice_date, unit_price, customer_id, country, invoice_time]
Index: []

### _(vi) Country_

In [38]:
import plotly.express as px

# Get the list of recognized country names from Plotly
recognized_countries = set(px.data.gapminder()["country"].unique())

# Find unrecognized countries
unrecognized_countries = set(df["country"]) - recognized_countries

# Print missing countries
print("Countries that are not recognized:", unrecognized_countries)

Countries that are not recognized: {'Cyprus', 'European Community', 'Unspecified', 'Channel Islands', 'Lithuania', 'Malta', 'RSA', 'EIRE', 'USA', 'United Arab Emirates'}

In [39]:
# Filter transactions with "Unspecified" country
unspecified_df = df[df["country"] == "Unspecified"]

unspecified_df

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,country,invoice_time
152712,549687,20685,DOORMAT RED RETROSPOT,2,2011-04-11,7.95,12363,Unspecified,13:29:00
152713,549687,22691,DOORMAT WELCOME SUNRISE,2,2011-04-11,7.95,12363,Unspecified,13:29:00
152714,549687,48116,DOORMAT MULTICOLOUR STRIPE,2,2011-04-11,7.95,12363,Unspecified,13:29:00
152715,549687,21213,PACK OF 72 SKULL CAKE CASES,24,2011-04-11,0.55,12363,Unspecified,13:29:00
152716,549687,21977,PACK OF 60 PINK PAISLEY CAKE CASES,24,2011-04-11,0.55,12363,Unspecified,13:29:00
...,...,...,...,...,...,...,...,...,...
308810,564051,23007,SPACEBOY BABY GIFT SET,1,2011-08-22,16.95,14265,Unspecified,13:32:00
308811,564051,21833,CAMOUFLAGE LED TORCH,12,2011-08-22,1.69,14265,Unspecified,13:32:00
308812,564051,23081,GREEN METAL BOX ARMY SUPPLIES,2,2011-08-22,8.25,14265,Unspecified,13:32:00
308813,564051,23046,PAPER LANTERN 9 POINT DELUXE STAR,2,2011-08-22,6.65,14265,Unspecified,13:32:00
308814,564051,23045,PAPER LANTERN 5 POINT STAR MOON,4,2011-08-22,4.15,14265,Unspecified,13:32:00

In [40]:
# Get unique customer IDs with unspecified country
unspecified_customers = unspecified_df["customer_id"].unique()

unspecified_customers

array(['12363', '16320', '14265', '12743'], dtype=object)

We will retain customers with unspecified countries in our analysis to ensure completeness of transactional data. However, we will exclude them when performing any country-specific analyses to maintain accuracy and relevance.

In [41]:
country_mapping = {
    "EIRE": "Ireland",
    "USA": "United States",
    "RSA": "South Africa",
    "United Arab Emirates": "United Arab Emirates",  
    "European Community": "European Union",  # No direct match, EU as a substitute
    "Channel Islands": "Jersey",  # Since Jersey is generally more prominent and widely known than Guernsey
    "Unspecified": "Unknown",  # Can be dropped or ignored
    "Malta": "Malta",  
    "Cyprus": "Cyprus",  
    "Lithuania": "Lithuania",  
}

# Replace unrecognized country names
df["country"] = df["country"].replace(country_mapping)

### **_6. Adding Total Sales Column_**

In [42]:
# Create a new column 'total_sales' = quantity * unit_price
df["total_sales"] = df["quantity"] * df["unit_price"]

# Round unit_price and total_sales to 2 decimal places
df["unit_price"] = df["unit_price"].round(2)
df["total_sales"] = df["total_sales"].round(2)

# Display first few rows to verify
print(df[["quantity", "unit_price", "total_sales"]].head())

   quantity  unit_price  total_sales
0         6        2.55        15.30
1         6        3.39        20.34
2         8        2.75        22.00
3         6        3.39        20.34
4         6        3.39        20.34

### **_7. Save the Cleaned Data as CSV File for Further Analysis_**

In [43]:
# Save cleaned dataset
df.to_csv("online_retail_cleaned.csv", index=False)